body {
  font-family: "Geometria"; }

@media (min-width: 1300px) {
  .container {
    width: 1270px; } }

@media (min-width: 992px) {
  body .header--small .subNavigation {
    background-color: rgba(0, 30, 66, 0.85);
    border-radius: 8px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px; }
  body .header--noBackground .subNavigation {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px; } }

.main {
  min-height: 400px; }

.fullHeight {
  height: 100%; }

.btn {
  color: #fff;
  font-family: "Geometria-Medium";
  font-size: 16px;
  background-color: #1E306E;
  border-radius: 60px;
  padding: .92em 2.6em;
  transition: .3s; }
  .btn--small {
    padding: 0.5em 1.84em; }
  .btn:hover {
    color: #fff;
    background-color: #1E306E; }
  .btn--white {
    color: #1E306E;
    background-color: #fff; }

.relative {
  position: relative; }

.section__title {
  color: #151515;
  font-family: "Geometria-Bold";
  font-size: 48px;
  line-height: 1.20833em;
  letter-spacing: 0.01em; }
  .section__title--white {
    color: #fff; }
  .section__title--small {
    font-size: 32px;
    line-height: 1.25em;
    letter-spacing: normal;
    margin-top: 15px;
    margin-bottom: 15px; }

.section__subTitle {
  font-family: "Geometria-Medium";
  color: #008482;
  font-size: 14px;
  text-transform: uppercase; }

.header__background_homepage {
  background-image: url("../assets/img/background/header_bg.png"); }

.header__background_whatWeDo {
  background-image: url("../assets/img/whatWeDo/header_bg.png"); }

.header__background_securityMonitoring {
  background-image: url("../assets/img/securityMonitoring/header_bg.png"); }

.header__background_dataStorage {
  background-image: url("../assets/img/dataStorage/header_bg.png"); }

.header__background_businessAnalysis {
  background-image: url("../assets/img/businessAnalysis/header_bg.png"); }

.header__background_businessOptimization {
  background-image: url("../assets/img/businessOptimization/header_bg.png"); }

.header__background_whoWeAre {
  background-image: url("../assets/img/whoWeAre/header_bg.png"); }

.header__background_callCenter {
  background-image: url("../assets/img/callCenter/header_bg.png"); }

.header__background_cyberSecurity {
  background-image: url("../assets/img/cyberSecurity/header_bg.png"); }

.header {
  height: 440px;
  overflow-x: hidden;
  position: relative; }
  .header .navigation__wrapper {
    margin-top: 20px;
    position: relative;
    z-index: 1; }
  .header .header__background {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; }
  .header--big {
    height: 760px; }
    .header--big .header__background {
      height: 720px; }
    .header--big .navigation__wrapper {
      margin-top: 30px; }
  .header__infoWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .header__info {
    max-width: 744px;
    width: 100%; }
  .header__pageTagline {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px; }
  .header__pageTaglineRow {
    display: block; }
  .header--noBackground {
    height: 300px; }
    .header--noBackground .subNavigation {
      padding-top: 10px;
      padding-bottom: 10px; }
    .header--noBackground .subNavigation__item {
      margin-top: 4px;
      margin-bottom: 4px; }
    .header--noBackground .navigation a,
    .header--noBackground .navigation .subNavigation__link {
      color: #001E42; }
    .header--noBackground .navigation .language {
      color: #001E42;
      opacity: 1; }
      .header--noBackground .navigation .language:hover, .header--noBackground .navigation .language--active {
        color: #008482;
        opacity: 1; }
    .header--noBackground .logo__wrapper .logo {
      background-image: url("../assets/img/logo/logo_dark.png"); }
    .header--noBackground .logo__wrapper .logo__title {
      color: #001E42; }
    .header--noBackground .section__title {
      position: relative; }
      .header--noBackground .section__title::before {
        content: "";
        height: 0.0625em;
        width: 1.66667em;
        background-color: #F6DB86;
        display: block;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.625em; }

.navigation__wrapper {
  font-size: 16px; }

.navigation {
  width: 520px;
  border-radius: 80px;
  padding: 0.66667em 1em; }
  .navigation--withoutLogo {
    justify-content: flex-end; }
  .navigation.navigation--dark {
    background-color: #001E42; }
    .navigation.navigation--dark .subNavigation {
      background-color: #001E42; }
    .navigation.navigation--dark .joinUs {
      border: 2px solid #899AC7; }
  .navigation ul {
    margin-bottom: 0; }
  .navigation a {
    color: #fff;
    font-family: "Geometria-Medium";
    font-size: 1em; }
  .navigation__plusSign {
    margin-right: 6px; }
  .navigation .aboutUs li {
    margin-left: .6em;
    margin-right: .6em; }
  .navigation .languages {
    margin-left: 1em; }
    .navigation .languages .language {
      margin-left: .2em;
      margin-right: .2em;
      opacity: .7;
      transition: .3s; }
      .navigation .languages .language:hover {
        opacity: 1; }
      .navigation .languages .language--active {
        opacity: 1; }
  .navigation .joinUs {
    font-size: 1em;
    text-align: center;
    border: 2px solid #A5CDE9;
    border-radius: 80px;
    margin-left: 1.3333em;
    padding: 1.07em 1.71em;
    transition: .1s ease-in-out; }
    .navigation .joinUs:hover {
      background-color: #899AC7;
      transition: .1s ease-in-out; }

.subNavigation__switcher {
  position: relative; }
  .subNavigation__switcher:hover .subNavigation {
    opacity: 1;
    transform: scaleY(1);
    transition: .2s ease-in-out; }

.subNavigation {
  width: 250px;
  border-radius: 0px 0px 8px 8px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
  position: absolute;
  top: 17px;
  left: -26px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .2s ease-in-out; }
  .subNavigation__item {
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    transition: .2s ease-in-out; }
    .subNavigation__item:hover {
      padding-left: 10px;
      transition: .2s ease-in-out; }
    .subNavigation__item::before {
      content: url("../assets/img/icons/subMenu_arrow.png");
      height: 16px;
      width: 14px;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      position: absolute;
      top: 8px;
      left: -20px; }
    .subNavigation__item:hover .subNavigation__link {
      color: #A5CDE9;
      transition: .2s ease-in-out; }
  .subNavigation__link {
    color: #fff;
    font-family: "Geometria";
    font-size: 16px;
    line-height: 30px; }

.logo__wrapper {
  font-size: 20px;
  display: flex;
  align-items: center; }
  .logo__wrapper .logo {
    width: 2.5em;
    height: 2.2em;
    background-image: url("../assets/img/logo/circle_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  .logo__wrapper .logo__title {
    color: #fff;
    font-family: "Geometria-Bold";
    font-size: 1.3em;
    margin-left: .57692em; }

.circle {
  height: 36em;
  width: 36em;
  font-size: 20px;
  background-color: #98A1BD;
  background-image: url("../assets/img/effects/circle_effect.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 50%;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: -20px; }
  .circle.circle--dark {
    background-color: #001E42; }
  .circle .circle__content {
    max-width: 27.9em; }
  .circle .circle__description {
    color: #fff;
    line-height: 1.20833em;
    letter-spacing: 0.01em;
    font-size: 2.4em; }
  .circle .circle__link {
    color: #fff;
    font-family: "Geometria-Bold";
    font-size: 1em;
    padding-left: 40px;
    position: relative; }
    .circle .circle__link::before {
      content: url("../assets/img/icons/circle_arrow.png");
      height: 22px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }

.advantagesContainer {
  font-size: 13px;
  padding-bottom: 7.6923em; }

.advantages {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
  .advantages__icon {
    height: 4em;
    width: 4em;
    background-image: url("../assets/img/icons/camera.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 1.53846em auto 3.07692em; }
  .advantages__title {
    max-width: 23.0769em;
    width: 100%;
    color: #151515;
    font-family: "Geometria-Bold";
    font-size: 2em;
    line-height: 1.3;
    margin: 0 auto 24px; }

.advantage {
  color: #1E306E;
  font-family: "Geometria-Bold";
  font-size: 1em;
  line-height: 1.5;
  text-transform: uppercase;
  margin-left: 2.1538em;
  margin-right: 2.1538em;
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative; }
  .advantage:not(:last-child)::before {
    content: "";
    height: 18px;
    width: 1px;
    background-color: #ccc;
    display: block;
    position: absolute;
    top: 50%;
    right: -2.1538em;
    transform: translateY(-50%); }

.faqsContainer {
  padding-top: 80px;
  padding-bottom: 94px; }

.faq {
  max-width: 800px;
  width: 100%;
  margin: 0 auto; }
  .faq .faq__question {
    color: #10192C;
    font-family: "Geometria-Bold";
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid transparent;
    padding-left: 0;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative; }
    .faq .faq__question:not(:first-child) {
      border-top: 1px solid #E6E6E6; }
    .faq .faq__question::before {
      content: "";
      height: 30px;
      width: 30px;
      color: #10192C;
      line-height: 30px;
      font-size: 24px;
      font-family: "FontAwesome";
      text-align: center;
      background-image: url("../assets/img/icons/accordion_close.png");
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      transform: translateY(-50%);
      transition: 0.1s; }
    .faq .faq__question[aria-expanded="true"]::before {
      transform: translateY(-50%) rotate(45deg);
      transition: 0.1s; }
    .faq .faq__question::after {
      content: "";
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: 0.1s; }
    .faq .faq__question[aria-expanded="false"]::after {
      background-color: transparent;
      border: 1px solid #F5F4F9; }
    .faq .faq__question[aria-expanded="true"]::after {
      background-color: #F5F4F9;
      border: 1px solid transparent; }
  .faq .faq__answer {
    color: #525252;
    font-size: 18px;
    line-height: 1.5;
    background-color: transparent;
    border: 1px solid transparent;
    padding-left: 0; }

.targetGroupContainer {
  background-color: #F6F6F6;
  padding: 80px 0; }

.targetGroup__title {
  padding-right: 30px;
  margin-bottom: 30px; }

.targetGroup__text {
  color: #525252;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 15px; }

.targetGroup__statisticsData {
  display: flex;
  justify-content: space-between;
  padding-top: 15px; }

.targetGroup__dataValue {
  color: #001E42;
  font-family: "Geometria-Bold";
  font-size: 26px;
  line-height: 1.3;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative; }
  .targetGroup__dataValue::before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #F6DB86;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0; }

.targetGroup__dataType {
  color: #1E306E;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 15px;
  padding-bottom: 15px; }

.imgCollage {
  height: 4.4em;
  width: 4.5em;
  font-size: 100px;
  position: relative; }
  .imgCollage__wrapper {
    display: flex;
    justify-content: flex-end; }
  .imgCollage__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; }
  .imgCollage__item1 {
    height: 2.2em;
    width: 3.4em;
    background-image: url("../assets/img/collageImages/1.png");
    bottom: 0;
    left: 0;
    z-index: 3; }
  .imgCollage__item2 {
    height: 2.35em;
    width: 2.3em;
    background-image: url("../assets/img/collageImages/2.png");
    left: .4em;
    top: 0;
    z-index: 2; }
  .imgCollage__item3 {
    height: 3.3em;
    width: 2.3em;
    background-image: url("../assets/img/collageImages/3.png");
    right: 0;
    bottom: .4em;
    z-index: 1; }

.mission {
  background: linear-gradient(0deg, rgba(0, 30, 66, 0.4), rgba(0, 30, 66, 0.4)), url("../assets/img/background/mission.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 40px; }
  .mission__title {
    margin-bottom: 28px; }
  .mission__icon {
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 15px; }
  .mission__icon1 {
    background-image: url("../assets/img/icons/mission1.png"); }
  .mission__icon2 {
    background-image: url("../assets/img/icons/mission2.png"); }
  .mission__icon3 {
    background-image: url("../assets/img/icons/mission3.png"); }
  .mission__panelTitle {
    color: #151515;
    font-family: "Geometria-Bold";
    font-size: 20px;
    line-height: 30px; }
  .mission__panel {
    background-color: #fff;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 43px;
    padding-left: 20px;
    padding-right: 20px; }
  .mission__content {
    height: 220px;
    padding-left: 5px;
    padding-right: 5px; }
    .mission__content p,
    .mission__content li {
      color: #525252;
      font-family: Lora;
      font-size: 16px; }
    .mission__content li {
      padding-left: 10px;
      position: relative; }
      .mission__content li::before {
        content: "";
        height: 5px;
        width: 5px;
        background-color: #cccccc;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 10px;
        left: 0; }

.requestAQoute {
  width: 180px;
  color: #fff;
  text-align: center;
  background-color: #5B657C;
  border-radius: 60px;
  display: block;
  margin: 50px auto 30px;
  padding: 13px 28px; }

.howItWorks {
  font-size: 20px;
  padding-top: 4em;
  padding-bottom: 4em; }
  .howItWorks__steps {
    max-width: 40em;
    width: 100%;
    margin: 0 auto;
    position: relative; }
    .howItWorks__steps::before {
      content: url("../assets/img/icons/howItWorks_arrow.png");
      height: 22px;
      width: 51px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      margin: 0 auto;
      position: absolute;
      top: 4em;
      left: 0;
      right: 0; }
  .howItWorks__step {
    max-width: 15em;
    width: 100%; }
  .howItWorks__stepImg {
    height: 9em;
    width: 9em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto 1.5em; }
  .howItWorks__stepImg1 {
    background-image: url("../assets/img/background/step1.png"); }
  .howItWorks__stepImg2 {
    background-image: url("../assets/img/background/step2.png"); }
  .howItWorks__stepText {
    color: #10192C;
    font-family: "Geometria-Bold";
    font-size: 1.3em;
    line-height: 1.3;
    text-align: center; }

.sns__container {
  font-size: 20px;
  background-color: #F6F6F6;
  padding-top: 4em;
  padding-bottom: 5em;
  position: relative; }

.sns__mainWrapper {
  position: relative; }

.sns__wrapper {
  max-width: 60em;
  width: 100%;
  margin: 2em auto 0;
  position: relative; }

.sns__item {
  height: 33.75em; }

.sns__img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.sns__dots {
  height: 0;
  width: 0;
  transform: scale(0); }

.sns__paging {
  min-width: 44px;
  text-align: center;
  background-color: #fff;
  border-radius: 24px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%); }

.sns__pagingValue {
  font-family: "Geometria-Medium";
  font-size: 14px;
  line-height: 20px; }
  .sns__pagingValue.sns__slidesCount::before {
    content: "/";
    margin-right: 3px; }

.sns__arrow {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 2px solid #1E306E;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  transition: .1s; }
  .sns__arrow_prev {
    left: -60px;
    transform: translateY(-50%) rotate(180deg); }
  .sns__arrow_next {
    right: -60px; }
  .sns__arrow.slick-disabled {
    border: 2px solid #A5CDE9;
    pointer-events: none; }
    .sns__arrow.slick-disabled .sns__arrowIcon {
      background-image: url("../assets/img/icons/sns_arrow_light.png");
      transition: .1s; }

.sns__arrowIcon {
  height: 16px;
  width: 8px;
  background-image: url("../assets/img/icons/sns_arrow_dark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block; }

.whatWeDo {
  font-size: 100px;
  padding-top: .65em;
  padding-bottom: .65em; }
  .whatWeDo__row {
    margin-top: .35em;
    margin-bottom: .35em; }
    .whatWeDo__row:nth-child(odd) {
      flex-direction: row; }
      .whatWeDo__row:nth-child(odd) .whatWeDo__smallCol {
        padding-right: 40px; }
      .whatWeDo__row:nth-child(odd) .whatWeDo__bigCol {
        justify-content: flex-end; }
      .whatWeDo__row:nth-child(odd) .whatWeDo__bubble {
        left: 0; }
    .whatWeDo__row:nth-child(even) {
      flex-direction: row-reverse; }
      .whatWeDo__row:nth-child(even) .whatWeDo__smallCol {
        padding-left: 40px; }
      .whatWeDo__row:nth-child(even) .whatWeDo__bigCol {
        justify-content: flex-start; }
      .whatWeDo__row:nth-child(even) .whatWeDo__bubble {
        right: 0; }
    .whatWeDo__row:nth-child(1) .whatWeDo__img {
      background-image: url("../assets/img/whatWeDo/1.png"); }
    .whatWeDo__row:nth-child(2) .whatWeDo__img {
      background-image: url("../assets/img/whatWeDo/2.png"); }
    .whatWeDo__row:nth-child(3) .whatWeDo__img {
      background-image: url("../assets/img/whatWeDo/3.png"); }
    .whatWeDo__row:nth-child(4) .whatWeDo__img {
      background-image: url("../assets/img/whatWeDo/4.png"); }
    .whatWeDo__row:nth-child(5) .whatWeDo__img {
      background-image: url("../assets/img/whatWeDo/5.png"); }
    .whatWeDo__row:nth-child(6) .whatWeDo__img {
      background-image: url("../assets/img/whatWeDo/6.png"); }
  .whatWeDo__smallCol {
    width: calc(100% - 7.4em);
    display: flex;
    flex-direction: column; }
  .whatWeDo__description {
    color: #525252;
    font-size: .18em;
    line-height: 1.5; }
  .whatWeDo__link {
    color: #1E306E;
    font-family: "Geometria-Medium";
    font-size: .2em;
    line-height: 1.5;
    padding-left: 35px;
    position: relative; }
    .whatWeDo__link::before {
      content: url("../assets/img/icons/whatWeDo_arrow.png");
      height: 26px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
  .whatWeDo__bigCol {
    height: 5.1em;
    width: 7.4em;
    display: flex;
    align-items: center;
    position: relative; }
  .whatWeDo__bubble {
    height: 100%;
    width: 5.1em;
    border-radius: 50%;
    position: absolute;
    top: 0; }
    .whatWeDo__bubble[data-bubleColor="purple"] {
      background-color: #A4B3EF; }
    .whatWeDo__bubble[data-bubleColor="yellow"] {
      background-color: #FED995; }
    .whatWeDo__bubble[data-bubleColor="blue"] {
      background-color: #AFD7FC; }
    .whatWeDo__bubble[data-bubleColor="red"] {
      background-color: #FFB2B2; }
    .whatWeDo__bubble[data-bubleColor="pink"] {
      background-color: #DC9CD2; }
    .whatWeDo__bubble[data-bubleColor="green"] {
      background-color: #9CF1A9; }
  .whatWeDo__img {
    height: 4.1em;
    width: 6.9em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1; }

.infoLayout {
  font-size: 16px;
  padding-top: 5em;
  padding-bottom: 5em; }
  .infoLayout__fluidImgRow {
    display: flex; }
    .infoLayout__fluidImgRow_img {
      height: 440px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .infoLayout__fluidImgRow--small {
      width: 450px;
      background-image: url("../assets/img/whoWeAre/img_row1.png");
      margin-right: 20px; }
    .infoLayout__fluidImgRow--big {
      width: 640px;
      background-image: url("../assets/img/whoWeAre/img_row2.png"); }
  .infoLayout__smallCol {
    padding-right: .9375em; }
  .infoLayout__name {
    color: #151515;
    font-family: "Geometria-Bold";
    font-size: 2em;
    line-height: 1.25em;
    margin-top: 3px;
    padding-left: 3.75em;
    position: relative; }
    .infoLayout__name::before {
      content: "";
      height: 2px;
      width: 2.5em;
      background-color: #151515;
      display: block;
      position: absolute;
      top: .625em;
      left: 0; }
  .infoLayout__bigCol {
    max-width: 600px;
    width: 100%;
    padding-left: .9375em; }
  .infoLayout__list {
    max-width: 500px;
    margin-top: .625em;
    margin-bottom: .625em; }
  .infoLayout__listItem {
    color: #525252;
    font-size: 1.125em;
    line-height: 1.5;
    display: block;
    position: relative; }
    .infoLayout__listItem::before {
      content: "";
      height: 4px;
      width: 4px;
      background-color: #525252;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 10px;
      left: -10px; }
  .infoLayout__paragraph {
    margin-top: 10px; }
    .infoLayout__paragraph + .infoLayout__list {
      margin-top: 2.5em;
      margin-bottom: 2.5em; }
  .infoLayout__line {
    color: #525252;
    font-size: 1.125em;
    line-height: 1.5;
    display: block; }
  .infoLayout__smallImg {
    height: 16.875em;
    width: 15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: .9375em; }
  .infoLayout__bigImg {
    height: 26.875em;
    max-width: 37.5em;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: .9375em; }
  .infoLayout__contentRow {
    padding-top: 2.5em;
    padding-bottom: 2.5em; }
  .infoLayout__imgRow {
    padding-top: 1.25em;
    padding-bottom: 1.25em; }
  .infoLayout__tabs {
    padding: 0; }
    .infoLayout__tabs .ui-tabs-nav li.ui-tabs-active {
      margin: 0;
      padding: 0; }
    .infoLayout__tabs .infoLayout__tabItem[role="tab"] {
      font-family: "Geometria-Medium";
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      background-color: #f6f6f6;
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0;
      margin: 0;
      padding: 0; }
      .infoLayout__tabs .infoLayout__tabItem[role="tab"] .infoLayout__tabLink {
        color: #008482;
        text-transform: uppercase;
        padding: 1.43em 1.45em; }
        .infoLayout__tabs .infoLayout__tabItem[role="tab"] .infoLayout__tabLink:focus {
          outline: none; }
      .infoLayout__tabs .infoLayout__tabItem[role="tab"].ui-tabs-active {
        background-color: #fff;
        border-top: 1px solid #f6f6f6; }
        .infoLayout__tabs .infoLayout__tabItem[role="tab"].ui-tabs-active:first-child {
          border-left: 1px solid #f6f6f6; }
        .infoLayout__tabs .infoLayout__tabItem[role="tab"].ui-tabs-active:last-child {
          border-right: 1px solid #f6f6f6; }
        .infoLayout__tabs .infoLayout__tabItem[role="tab"].ui-tabs-active .infoLayout__tabLink {
          color: #1E306E; }
          .infoLayout__tabs .infoLayout__tabItem[role="tab"].ui-tabs-active .infoLayout__tabLink:focus {
            outline: none; }
    .infoLayout__tabs.ui-widget.ui-widget-content {
      border: none;
      border-radius: 0; }
  .infoLayout .ui-tabs .ui-tabs-panel {
    border: 1px solid #F6F6F6;
    margin-top: -2px; }
  .infoLayout__tabList[role="tablist"] {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0; }
  .infoLayout__tabItem[role="tab"] {
    margin: 0; }
  .infoLayout__panelHeader {
    margin-top: 20px;
    margin-bottom: 22px; }
  .infoLayout__panelName {
    color: #151515;
    font-family: "Geometria-Bold";
    font-size: 32px;
    line-height: 40px;
    margin: 0; }
  .infoLayout__panelText {
    color: #008482;
    font-size: 18px;
    line-height: 1.5; }
  .infoLayout__panelLink {
    color: #1E306E;
    font-family: "Geometria";
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-top: 30px;
    padding-left: 30px;
    position: relative; }
    .infoLayout__panelLink::before {
      content: "";
      height: 20px;
      width: 20px;
      display: block;
      background-image: url("../assets/img/icons/whatWeDo_link.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 0; }

.weOffer {
  font-size: 20px; }
  .weOffer__row {
    margin-top: 2.6em;
    margin-left: -10px;
    margin-right: -10px; }
  .weOffer__panel {
    height: 10em;
    color: #fff;
    font-family: "Geometria-Bold";
    font-size: 1.3em;
    line-height: 1.3;
    text-align: center;
    background-color: #001E42;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 7.30769em;
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: .5em;
    padding-right: .5em; }
    .weOffer__panel:nth-child(even) {
      margin-top: 2.11538em; }
    .weOffer__panel_1 {
      background-image: url("../assets/img/whoWeAre/1.png"); }
    .weOffer__panel_2 {
      background-image: url("../assets/img/whoWeAre/2.png"); }
    .weOffer__panel_3 {
      background-image: url("../assets/img/whoWeAre/3.png"); }
    .weOffer__panel_4 {
      background-image: url("../assets/img/whoWeAre/4.png"); }
    .weOffer__panel_5 {
      background-image: url("../assets/img/whoWeAre/5.png"); }
    .weOffer__panel_6 {
      background-image: url("../assets/img/whoWeAre/6.png"); }

.workWithUs {
  padding-top: 10px;
  padding-bottom: 80px; }
  .workWithUs__formWrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }

.snf {
  font-size: 20px; }
  .snf__inputField {
    font-size: 1em;
    position: relative; }
    .snf__inputField--full {
      width: 100%; }
    .snf__inputField--half {
      width: calc(50% - 10px); }
    .snf__inputField--filled label {
      font-family: "Geometria";
      font-size: 12px;
      top: 10px; }
    .snf__inputField--error input {
      border-color: #F13A3A; }
    .snf__inputField--error::before {
      content: "";
      height: 1em;
      width: 1em;
      background-image: url("../assets/img/logo/input__error.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      position: absolute;
      top: 24px;
      right: 15px;
      z-index: 1; }
    .snf__inputField--error::after {
      content: attr(data-error);
      color: #F13A3A;
      font-family: "Geometria-Medium";
      font-size: 12px;
      line-height: 1.5;
      position: absolute;
      z-index: 1; }
    .snf__inputField--error.snf__inputField--full::after {
      max-width: 150px;
      width: 100%;
      top: 25px;
      right: -160px; }
    .snf__inputField--error.snf__inputField--half::after {
      top: 5px;
      right: 15px; }
  .snf__input {
    width: 100%;
    color: #525252;
    font-family: "Geometria-Medium";
    font-size: .8em;
    line-height: 1.5;
    background-color: #F6F6F6;
    border: 1px solid #f6f6f6;
    border-radius: 0;
    outline: none;
    margin-bottom: 1.5625em;
    padding-top: 2em;
    padding-bottom: 10px;
    padding-left: .9375em;
    padding-right: 2.5em;
    position: relative;
    transition: .1s ease-in-out; }
    .snf__input:focus {
      border-color: #899AC7;
      transition: .1s ease-in-out; }
      .snf__input:focus + label {
        font-family: "Geometria";
        font-size: 12px;
        top: 10px;
        transition: .1s ease-in-out; }
  .snf__label {
    color: #008482;
    font-family: "Geometria-Medium";
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    position: absolute;
    top: 20px;
    left: 15px;
    transition: .1s ease-in-out; }
  .snf__selectLabel {
    font-weight: 700;
    z-index: 1; }
    .snf__selectLabel--selectOpen {
      font-family: "Geometria";
      font-size: 12px;
      top: 10px;
      transition: .1s ease-in-out; }
  .snf__selectField .snf__selectSaveBtn {
    opacity: 0;
    position: absolute;
    bottom: 55px;
    left: 35px;
    z-index: -1;
    transition: 0s; }
  .snf__selectField--open .snf__selectSaveBtn {
    opacity: 1;
    z-index: 5; }
  .snf__select {
    min-height: 70px;
    height: 100%;
    width: 100%;
    color: #525252;
    font-family: "Geometria-Medium";
    font-size: .8em;
    line-height: 1.5;
    background-color: #F6F6F6;
    border: 1px solid #f6f6f6;
    border-radius: 0;
    outline: none;
    margin-bottom: 1.5625em;
    position: relative;
    transition: .1s ease-in-out; }
    .snf__select button {
      height: 70px;
      line-height: 90px;
      background-color: transparent;
      border: none;
      border-radius: 0; }
      .snf__select button span {
        padding-left: 14px; }
      .snf__select button > div {
        height: 7px;
        width: 12px;
        background-image: url("../assets/img/icons/select_arrow.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 30px;
        right: 15px; }
        .snf__select button > div.open {
          background-position: center;
          transform: rotate(180deg); }
    .snf__select .ms-drop {
      border: none;
      border-radius: 0;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      padding: 30px 24px 80px;
      position: relative;
      z-index: 5; }
      .snf__select .ms-drop ul {
        display: flex;
        flex-direction: column; }
        .snf__select .ms-drop ul > li.selected label::before {
          background-color: #526699;
          border: 1px solid #526699; }
        .snf__select .ms-drop ul > li label {
          white-space: normal;
          display: flex; }
        .snf__select .ms-drop ul > li:nth-child(n + 7) {
          margin-left: 45px; }
    .snf__select label {
      align-items: center;
      margin-top: 12px;
      margin-bottom: 12px;
      position: relative; }
      .snf__select label::before {
        content: "";
        height: 20px;
        min-width: 20px;
        width: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: block;
        margin-right: 0; }
      .snf__select label::after {
        content: "";
        height: 14px;
        width: 14px;
        background-image: url("../assets/img/icons/select_mark.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%); }
      .snf__select label input[type="checkbox"] {
        width: 0;
        opacity: 0;
        transform: scale(0); }
  .snf__submitBtn {
    margin-top: 10px;
    margin-bottom: 10px; }

.footer__top {
  height: 500px;
  background: #1E306E url("../assets/img/effects/footer_effect1.png") left no-repeat; }

.footer__topContainer {
  background: url("../assets/img/effects/footer_effect2.png") right no-repeat; }

.footer__description {
  max-width: 350px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 30px; }

.footer__bottom {
  background-color: #001E42;
  padding-top: 30px;
  padding-bottom: 30px; }
  .footer__bottom .navigation .languages .language {
    opacity: 1; }
    .footer__bottom .navigation .languages .language:hover {
      color: #008482; }
    .footer__bottom .navigation .languages .language.language--active {
      color: #008482; }

.menuToggler {
  display: none; }

.mainLayer {
  display: none;
  z-index: 4;
  transform: scale(0);
  transition: .3s ease-in-out; }

.copyright {
  color: #008482;
  font-family: "Geometria";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  margin-top: 30px;
  margin-bottom: 0; }

@media (max-width: 1440px) {
  .circle {
    font-size: 18px; }
    .circle .circle__content .logo__wrapper {
      margin-left: 0; }
  .sns__container {
    font-size: 17px; } }

@media (max-width: 1200px) {
  .header {
    height: 400px; }
    .header--big {
      height: 720px; }
      .header--big .header__background {
        height: 620px; }
  .circle {
    font-size: 16px;
    margin: 0 auto;
    left: 0;
    right: 0; }
  .logo__wrapper {
    font-size: 18px; }
  .infoLayout__fluidImgRow_img {
    height: 260px; }
  .infoLayout__fluidImgRow--small {
    width: 300px;
    margin-right: 10px; }
  .infoLayout__fluidImgRow--big {
    width: 400px; }
  .sns__container {
    font-size: 13px; }
  .whatWeDo {
    font-size: 75px; }
    .whatWeDo__row:nth-child(odd) {
      flex-direction: column-reverse; }
      .whatWeDo__row:nth-child(odd) .whatWeDo__smallCol {
        padding-right: 0; }
      .whatWeDo__row:nth-child(odd) .whatWeDo__bubble {
        left: 0; }
    .whatWeDo__row:nth-child(even) {
      flex-direction: column-reverse; }
      .whatWeDo__row:nth-child(even) .whatWeDo__smallCol {
        padding-left: 0; }
      .whatWeDo__row:nth-child(even) .whatWeDo__bigCol {
        justify-content: flex-start; }
      .whatWeDo__row:nth-child(even) .whatWeDo__bubble {
        right: 0; }
    .whatWeDo__smallCol {
      width: 520px; }
    .whatWeDo__link::before {
      height: 16px; }
    .whatWeDo__bubble {
      height: 100%;
      width: 5.1em;
      margin: 0 auto;
      left: 0;
      right: 0; }
    .whatWeDo__img {
      margin: 0 auto; } }

@media (max-width: 991px) {
  .menuToggler {
    height: 40px;
    width: 40px;
    overflow: hidden;
    background-color: #001E42;
    border: none;
    border-radius: 50%;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 6; }
    .menuToggler__bar {
      height: 2px;
      width: 18px;
      background-color: #fff;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      transition: .3s ease-in-out; }
      .menuToggler__bar:nth-child(1) {
        top: 14px; }
      .menuToggler__bar:nth-child(2) {
        top: 50%;
        transform: translateY(-50%); }
      .menuToggler__bar:nth-child(3) {
        bottom: 14px; }
    .menuToggler.menuToggler--open .menuToggler__bar:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotateZ(-45deg); }
    .menuToggler.menuToggler--open .menuToggler__bar:nth-child(2) {
      top: 50%;
      transform: translateY(-50%) translateX(100px); }
    .menuToggler.menuToggler--open .menuToggler__bar:nth-child(3) {
      bottom: 50%;
      transform: translateY(50%) rotateZ(45deg); }
  body.scroll-lock {
    padding-right: 17px; }
    body.scroll-lock .menuToggler {
      right: 27px; }
  .header {
    height: 250px; }
    .header.header--open .navigation__wrapper {
      right: 0; }
    .header.header--open .mainLayer {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      transform: scale(1);
      transition: .3s ease-in-out; }
    .header--noBackground {
      height: 120px; }
    .header--big {
      height: 520px; }
      .header--big .header__background {
        height: 420px; }
    .header .navigation__wrapper {
      height: 100%;
      width: calc(100% - 60px);
      background-color: #001E42;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 50px;
      margin-top: 0;
      position: fixed;
      right: -100%;
      z-index: 5;
      transition: .3s ease-in-out; }
      .header .navigation__wrapper .navigation {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0; }
    .header .logo__wrapper {
      margin-left: 18px; }
    .header ul.languages {
      margin-left: 0;
      flex-direction: row;
      position: absolute;
      top: 20px; }
    .header--noBackground .navigation a,
    .header--noBackground .navigation .subNavigation__link {
      color: #fff; }
    .header--noBackground .logo__wrapper .logo {
      background-image: url(../assets/img/logo/circle_logo.png); }
    .header--noBackground .logo__wrapper .logo__title {
      color: #fff; }
    .header--noBackground .navigation .language {
      color: #fff; }
      .header--noBackground .navigation .language:hover {
        color: #fffs; }
    .header--noBackground .navigation .language--active {
      color: #fff; }
    .header ul {
      flex-direction: column; }
    .header .aboutUs {
      max-height: 70vh;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden; }
  .navigation.navigation--dark .joinUs {
    border: none; }
  .navigation .aboutUs li {
    width: 100%; }
  .navigation .joinUs {
    border: none;
    display: block;
    margin: 0;
    margin-top: 5px;
    padding: 0.4em 0; }
    .navigation .joinUs:hover {
      background-color: transparent; }
  .subNavigation {
    width: 100%;
    padding: 0;
    position: relative;
    top: 0;
    left: 28px;
    opacity: 1;
    transform: scale(1); }
    .subNavigation__switcher {
      width: 100%; }
    .subNavigation__item:hover {
      padding-left: 0; }
  .circle {
    font-size: 11px;
    bottom: 40px; }
    .circle .circle__link {
      font-size: 1.5em; }
  .logo__wrapper {
    font-size: 13px; }
  .section__title {
    font-size: 30px; }
    .section__title--small {
      font-size: 24px; }
  .section__subTitle {
    font-size: 12px; }
  .mission__content {
    height: auto;
    padding-bottom: 15px; }
  .imgCollage__wrapper {
    justify-content: center; }
  .sns__mainWrapper {
    padding-left: 15px;
    padding-right: 15px; }
  .sns__wrapper {
    max-width: 60em;
    width: 100%;
    margin: 0 auto;
    position: relative; }
  .sns__img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    object-fit: contain;
    margin: 0 auto; }
  .sns__item {
    height: 25em; }
  .sns__arrow {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid #1E306E; }
    .sns__arrow_prev {
      left: 0; }
    .sns__arrow_next {
      right: 0; }
    .sns__arrow.slick-disabled {
      border: 2px solid #A5CDE9; }
  .sns__paging {
    color: #fff;
    background-color: #001E42;
    bottom: -25px; }
  .advantagesContainer {
    font-size: 12px; }
  .snf__inputField--error.snf__inputField--full::after {
    max-width: none;
    width: auto;
    top: 5px;
    right: 15px; }
  .footer__top {
    height: 400px; }
  .footer__description {
    max-width: 350px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 30px; }
  .footer__bottom {
    padding-top: 15px;
    padding-bottom: 15px; }
  .footer .navigation {
    width: auto;
    justify-content: flex-start;
    padding-left: 0; }
    .footer .navigation__wrapper {
      flex-direction: column;
      align-items: flex-start;
      position: relative; }
    .footer .navigation .aboutUs {
      flex-direction: column; }
      .footer .navigation .aboutUs li {
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 0; }
    .footer .navigation .languages {
      margin-left: 0;
      position: absolute;
      top: 5px;
      right: 0; }
  .copyright {
    margin-top: 10px; } }

@media (max-width: 767px) {
  .infoLayout {
    font-size: 14px; }
    .infoLayout__smallImg {
      margin: 10px auto; }
    .infoLayout__bigImg {
      height: 100vw;
      max-width: 100%;
      margin: 10px auto; }
    .infoLayout__fluidImgRow {
      padding-left: 15px;
      padding-right: 15px;
      flex-direction: column;
      align-items: center; }
      .infoLayout__fluidImgRow--small {
        margin-right: 0;
        margin-bottom: 10px; }
    .infoLayout__tabs .infoLayout__tabItem[role="tab"] {
      font-size: 12px;
      line-height: 16px; }
    .infoLayout__tabs .infoLayout__tabItem[role="tab"] .infoLayout__tabLink {
      padding: 0.63em 0.5em; }
    .infoLayout__bigCol_tabs {
      max-width: 100%;
      padding-left: 0; }
    .infoLayout__panelHeader {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 8px;
      margin-bottom: 8px; }
    .infoLayout__panelName {
      font-size: 24px;
      line-height: 28px; }
    .infoLayout__panelText {
      font-size: 14px; }
    .infoLayout__panelLink {
      font-size: 14px;
      line-height: 1.3;
      padding-left: 20px; }
      .infoLayout__panelLink::before {
        height: 16px;
        width: 16px; }
  .snf__inputField--half {
    width: 100%; } }

@media (max-width: 600px) {
  .imgCollage {
    font-size: 90px; }
  .howItWorks {
    font-size: 15px; }
  .whatWeDo__smallCol {
    width: 100%; }
  .whatWeDo__bigCol {
    height: 3em;
    width: 4em; }
  .whatWeDo__bubble {
    width: 3.1em; }
  .whatWeDo__img {
    height: 2.79855em;
    width: 3.7em; }
  .whatWeDo__paging {
    bottom: -25px; } }

@media (max-width: 480px) {
  .header--big {
    height: 480px; }
    .header--big .header__background {
      height: 360px; }
  .circle {
    font-size: 8px; }
  .infoLayout {
    font-size: 14px; }
    .infoLayout__fluidImgRow--small {
      width: 100%; }
    .infoLayout__fluidImgRow--big {
      width: 100%; }
  .imgCollage {
    font-size: 70px; }
  .howItWorks__steps {
    flex-direction: column;
    align-items: center; }
    .howItWorks__steps::before {
      top: 50%;
      transform: translateY(-50%) rotateZ(90deg); }
  .howItWorks__step1 {
    margin-bottom: 100px; }
  .sns__item {
    height: 18em; }
  .snf__select .ms-drop {
    padding: 30px 14px 80px; }
    .snf__select .ms-drop ul > li:nth-child(n + 7) {
      margin-left: 35px; }
  .snf__selectField .snf__selectSaveBtn {
    left: 20px; }
  .footer__topContainer {
    background-position: center;
    background-size: contain; }
  .footer__top {
    height: 360px; } }

@media (max-width: 446px) {
  .weOffer__panel:nth-child(even) {
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
