@font-face {
	font-family: 'MyWebFont';
	src: url('webfont.eot'); /* IE9 Compat Modes */
	src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
			url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
			url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
			url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria'), url('Geometria/Geometria.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-Italic'), url('Geometria/Geometria-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-Thin'), url('Geometria/Geometria-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-ThinItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-ThinItalic'), url('Geometria/Geometria-ThinItalic.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-ExtraLight'), url('Geometria/Geometria-ExtraLight.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-ExtraLightItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-ExtraLightItalic'), url('Geometria/Geometria-ExtraLightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-Light'), url('Geometria/Geometria-Light.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-LightItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-LightItalic'), url('Geometria/Geometria-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-Medium'), url('Geometria/Geometria-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-MediumItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-MediumItalic'), url('Geometria/Geometria-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-Bold'), url('Geometria/Geometria-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-BoldItalic'), url('Geometria/Geometria-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-ExtraBold'), url('Geometria/Geometria-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-ExtraBoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-ExtraBoldItalic'), url('Geometria/Geometria-ExtraBoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-Heavy'), url('Geometria/Geometria-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-HeavyItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-HeavyItalic'), url('Geometria/Geometria-HeavyItalic.woff') format('woff');
}